extend layout

block content

  .content-wrapper
    .page-header
      h3.page-title
        | Forms
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Forms
          li.breadcrumb-item.active(aria-current='page') Basic elements
    .row
      .col-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title Form Edit Menu
            p.card-description
              | Edit Menu
            form.forms-sample(action='/editmenu//#{ (_id == undefined) ? menu._id : _id }', method='POST')
              //- .form-group
              //-   label(for='exampleSelectGender') Root
              //-   select#root.form-control
              //-     option id Root 1
              //-     option id Root 2
              .form-group
                label(for='exampleInputName1') Root Input
                input#menu.form-control(type='text', placeholder='Root', name='root', value="#{ (root == undefined) ? menu.root : root }")
              .form-group
                label(for='exampleInputName2') Menu
                input#menu.form-control(type='text', placeholder='Menu', name='menu')
              .form-group
                label(for='exampleInputName2') Pertanyaan
                input#menu.form-control(type='text', placeholder='Pertanyaan', name='pertanyaan')
              button.btn.btn-gradient-primary.mr-2(type='submit') Submit
              button.btn.btn-light Cancel