doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Tabulampot
    // plugins:css
    link(rel='stylesheet', href='https://shela.jagopesan.com/vendors/iconfonts/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='https://shela.jagopesan.com/vendors/css/vendor.bundle.base.css')
    // endinject
    // inject:css
    link(rel='stylesheet', href='https://shela.jagopesan.com/css/style.css')
    // endinject
    link(rel='shortcut icon', href='https://shela.jagopesan.com/images/favicon.png')
  body
    .container-scroller
      // partial:partials/_navbar.html
      nav.navbar.default-layout-navbar.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
        .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center
          a.navbar-brand.brand-logo-mini(href='#')
            img(src='https://shela.jagopesan.com/images/logo-mini.svg', alt='logo')
        .navbar-menu-wrapper.d-flex.align-items-stretch
          .search-field.d-none.d-md-block
            form.d-flex.align-items-center.h-100(action='#')
              .input-group
                .input-group-prepend.bg-transparent
                  i.input-group-text.border-0.mdi.mdi-magnify
                input.form-control.bg-transparent.border-0(type='text', placeholder='Search projects')
          ul.navbar-nav.navbar-nav-right
            li.nav-item.nav-profile.dropdown
              a#profileDropdown.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                .nav-profile-img
                  img(src='https://shela.jagopesan.com/uploads/1531845305794_57.png', alt='image')
                  span.availability-status.online
                .nav-profile-text
                  p.mb-1.text-black Shela Ernita Sari
              .dropdown-menu.navbar-dropdown(aria-labelledby='profileDropdown')
                a.dropdown-item(href='#')
                  i.mdi.mdi-logout.mr-2.text-primary
                  |                 Signout
            li.nav-item.d-none.d-lg-block.full-screen-link
              a.nav-link
                i#fullscreen-button.mdi.mdi-fullscreen
          button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button', data-toggle='offcanvas')
            span.mdi.mdi-menu
      // partial
      .container-fluid.page-body-wrapper
        // partial:partials/_sidebar.html
        nav#sidebar.sidebar.sidebar-offcanvas
          ul.nav
            li.nav-item.nav-profile
              a.nav-link(href='#')
                .nav-profile-image
                  img(src='https://shela.jagopesan.com/uploads/1531845305794_57.png', alt='profile')
                  span.login-status.online
                  // change to offline or busy as needed
                .nav-profile-text.d-flex.flex-column
                  span.font-weight-bold.mb-2 Shela Ernita Sari
                  span.text-secondary.text-small Admin
                i.mdi.mdi-bookmark-check.text-success.nav-profile-badge
            li.nav-item
              a.nav-link(href='/index')
                span.menu-title Dashboard
                i.mdi.mdi-home.menu-icon
            //- li.nav-item
            //-   a.nav-link(href='/chart')
            //-     span.menu-title Charts
            //-     i.mdi.mdi-chart-bar.menu-icon
            li.nav-item
              a.nav-link(href='/insertmenu')
                span.menu-title Menu
                i.mdi.mdi-format-list-bulleted.menu-icon
            li.nav-item
              a.nav-link(href='/insertcontent')
                span.menu-title Content
                i.mdi.mdi-table-large.menu-icon
            //- li.nav-item
            //-   a.nav-link(href='/insertadmin')
            //-     span.menu-title Registrasi
            //-     i.mdi.mdi-format-line-spacing.menu-icon
        // partial
        .main-panel
          div
            block content
          // content-wrapper ends
  
          // partial:partials/_footer.html
          footer.footer
            .d-sm-flex.justify-content-center.justify-content-sm-between
              span.text-muted.text-center.text-sm-left.d-block.d-sm-inline-block Copyright © 2018 . All rights reserved.
              span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
                | Shela Ernita Sari & made with 
                i.mdi.mdi-heart.text-danger
          // partial
        // main-panel ends
      // page-body-wrapper ends
    // container-scroller
    // plugins:js
    script(src='https://shela.jagopesan.com/vendors/js/vendor.bundle.base.js')
    script(src='https://shela.jagopesan.com/vendors/js/vendor.bundle.addons.js')
    // endinject
    // Plugin js for this page
    // End plugin js for this page
    // inject:js
    script(src='https://shela.jagopesan.com/js/off-canvas.js')
    script(src='https://shela.jagopesan.com/js/misc.js')
    // endinject
    // Custom js for this page
    script(src='https://shela.jagopesan.com/js/dashboard.js')
    // End custom js for this page
    script(src='https://shela.jagopesan.com/vendors/js/vendor.bundle.base.js')
    script(src='https://shela.jagopesan.com/vendors/js/vendor.bundle.addons.js')
    // Custom js for this page
    script(src='https://shela.jagopesan.com/js/chart.js')
    script(src='https://shela.jagopesan.com/js/off-canvas.js')
    script(src='https://shela.jagopesan.com/js/file-upload.js')

